* {
  font-family: Circular , Helvetica, Arial, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.place {
  width: 100%;
  padding: 30px 0;
}

	.place__container {
	  margin: 0 auto;
	  max-width: 1200px;
	  text-align: center;
	}

		.place__container h1 {
		  font-size: 2rem;
		  margin: 0 0 5px 0;
		}
	
	.card {
	  text-decoration: none;
	  position: relative;
	}
	
	.card__container {
	  margin-top: 30px;
	  overflow: hidden;
	}
	
		footer {
		  border-top: 1px solid #ececec;
		  margin-top: 15px;
		  padding: 30px 0;
		}


	.card__main {
	  float: left;
	  margin: 0 1% 16px 1%;
	  position: relative;
	  width: 100%;
	}

		.card__main img {
		  width: 100%;
		}

		.card__main .overlay {
		  background: rgba(0, 0, 0, .4);
		  color: #fff;
		  top: 0;
		  right: 0;
		  bottom: 0;
		  left: 0;
		  margin-bottom: 3px;
		  padding: 17% 5%;
		  position: absolute;
		}

			.card__main .overlay h2 {
			  font-size: 1.3rem;
			  margin-bottom: 5px;
			}

			.card__main .overlay img {
			  border: 2px solid #fff;
			  border-radius: 50%;
			  margin-bottom: 10px;
			  width: 50px;
			  height: 50px;
			}

			.card__main .overlay:hover {
			  background: rgba(0, 0, 0, .7);
			  transition: .3s;
			}
			
			.card__main .overlay .price {
			  background-color: rgba(0, 0, 0, .4);
			  bottom: 15px;
			  font-weight: bold;
			  left: 0;
			  padding: 7px 12px;
			  position: absolute;
			  border-radius: 0 3px 3px 0;
			}

			.card__main .overlay:hover .price {
			  background: rgba(255, 255, 255, .9);
			  color: #000;
			  transition: .3s;
			}


/*Media Query*/
@media screen and (min-width: 768px) {
  .card__main {
    width: 48%;
  }
}

@media screen and (min-width: 951px) {
  .card__main {
    width: 31.3%;
  }
}

@media screen and (max-width: 768px) {
  .place__container {
    min-width: 312px;
    max-width: 767px;
    margin: 10px;
  }
}
